
@tailwind base;
@tailwind components;
@tailwind utilities;

/* #a594f9 */

@layer components {
    .bannerIcon {
        @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
    }

    .resumeLi {
        @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
    }

    .bgOpacity {
        @apply bg-black bg-opacity-40;
    }

    .contactInput {
        @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-cardOne text-lightText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300
    }

    .contactTextArea {
        @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-cardOne text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none
    }
}

@layer components {
    .bannerIcon {
        @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
    }

    .resumeLi {
        @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
    }

    .bgOpacity {
        @apply bg-black bg-opacity-40;
    }

    .contactInput {
        @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-cardOne text-lightText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300
    }

    .contactTextArea {
        @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-cardOne text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none
    }


}

.active {
    color: white;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.primary-p {
    @apply px-5 py-5 sml:px-10;
}



/* Universal Scrollbar Hide */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and old Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}



.primary-p {
    @apply px-5 py-5 sml:px-10;
}


/* SCSS RGB */
$federal-blue: rgba(3, 4, 94, 1);
$marian-blue: rgba(2, 62, 138, 1);
$honolulu-blue: rgba(0, 119, 182, 1);
$blue-green: rgba(0, 150, 199, 1);
$pacific-cyan: rgba(0, 180, 216, 1);
$vivid-sky-blue: rgba(72, 202, 228, 1);
$non-photo-blue: rgba(144, 224, 239, 1);
$non-photo-blue-2: rgba(173, 232, 244, 1);
$light-cyan: rgba(202, 240, 248, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-right: linear-gradient(90deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-bottom: linear-gradient(180deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-left: linear-gradient(270deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-top-right: linear-gradient(45deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-bottom-right: linear-gradient(135deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-top-left: linear-gradient(225deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-bottom-left: linear-gradient(315deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-radial: radial-gradient(#03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);

.gradient {
    background: $gradient-top-left;
}

.line-animation {
    animation: moving-x 2s linear infinite alternate;
    background-image: linear-gradient(to bottom, rgb(59, 96, 216), rgb(98, 106, 214), black);
}

@keyframes moving-x {
    0% {
        top: 0
    }

    100% {
        top: 80%
    }
}

// .contact-card {}

.gradient {
    background: $gradient-top-left;
}

.line-animation {
    animation: moving-x 2s linear infinite alternate;
    background-image: linear-gradient(to bottom, rgb(59, 96, 216), rgb(98, 106, 214), black);
}

@keyframes moving-x {
    0% {
        top: 0
    }

    100% {
        top: 80%
    }
}




